.add-form-wrapper{
    background-color: rgb(60, 85, 107);
    padding: 20px 10px;
    color:rgb(239,241,202);
}
.add-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 380px;
}
.add-form__input{
    border-radius: 5px;
    border: 0;
    outline:none;
    width: 70%;
    padding: 8px 0 8px 10px;
    box-sizing: border-box;
}
@media all and (max-width: 480px){
    .add-form{
        flex-direction: column;
    }
    .add-form__input{
        width: 100%;
        margin-bottom: 10px;
    }
    .add-form__button{
        width: 100%;
    }
}