.btn-group {
    background-color: rgb(60, 85, 107);
    color: rgb(248, 255, 249);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn-group .btn {
    width: 33.3%;
}

.btn-light {
    background-color: rgb(248, 255, 249);
    color: rgb(60, 85, 107);
}

.btn-dark {
    background-color: rgb(60, 85, 107);
    color: rgb(248, 255, 249);
}

@media all and (max-width: 480px) {
    .btn-group {
        flex-direction: column;
    }

    .btn-group .btn {
        width: 100%;
        margin-bottom: 10px;
    }
}