body {
    background-color: rgb(236, 237, 204);
}

.hide {
    display: none;
}

.done {
    text-decoration: line-through;
    color: rgb(226, 187, 95);
}

li {
    list-style: none;
}

button:hover {
    cursor: pointer;
}

.icon {
    color: rgb(226, 187, 95);
}

.icon_trash {
    color: brown;
}

.icon_star {
    opacity: 0.4;
}

.icon_check {
    opacity: 0.4;
}

.opacity {
    opacity: 1;
}